<h2 class="cart-title w3-text-indigo w3-margin">Pedidos</h2>
<section class="w3-margin w3-container w3-center sec-pedido" *ngIf="listaPedidos.length > 0; else pedidosVazio">
    <!-- Tabela de pedidos -->
    <table class="w3-table-all w3-hoverable tab-pedido">
        <thead>
            <tr class="w3-indigo">
                <th># Pedido</th>
                <th>Total</th>
                <th>Frete</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of listaPedidos">
                <td>{{pedido.id}}</td>
                <td>{{pedido.valorTotal | currency:'BRL' : 'R$ '}}</td>
                <td>{{pedido.valorFrete | currency:'BRL' : 'R$ '}}</td>
                <td>{{pedido.status}}</td>
                <td><button class="w3-button" (click)="mostrarDetalhesPedido(pedido.id)"><i class="fa-solid fa-arrow-up-right-from-square"></i></button></td>
            </tr>
        </tbody>
    </table>
</section>

<!-- Modal Detalhes do Pedido -->
<div class="w3-modal" id="divDetalhesPedido">
    <div class="w3-modal-content w3-card-4 w3-animate-top w3-round">
        <header class="w3-indigo w3-container modal-header w3-center">
            <span onclick="document.getElementById('divDetalhesPedido').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h3>Detalhes do Pedido</h3>
        </header>
        <div class="w3-container w3-padding">
            <table class="w3-table-all">
                <thead>
                    <tr class="w3-indigo">
                        <th>Imagem</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <!-- <tr *ngFor="let produto of listaProdutos">
                        <td><img [src]="produto.imagem"></td>
                        <td>{{produto.descricao}}</td>
                        <td>{{produto.quantidade}}</td>
                        <td>{{produto.preco}}</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #pedidosVazio>
    <section class="w3-margin w3-padding-64 w3-center w3-text-indigo sec-pedido">
        <h2><i class="fa-solid fa-rectangle-list icoVazio"></i></h2>
        <h3>Você ainda não fez nenhuma compra</h3>
        <p>Que tal navegar pelas ofertas e achar algo especial para você?</p>
        <button class="w3-button w3-indigo w3-hover-orange w3-round-large w3-xlarge w3-margin w3-padding-16 btnVerMais" routerLink="../produtos">Ver produtos</button>
    </section>
</ng-template>